extends base

block content
    section.banner.padding-b
        .container
            .jumbotron.jumbotron-fluid.px-4.pt-4.pb-1
                p
                    | What qualities are 3D-printers capable of expressing? What intentions might the machine have that are overlooked
                    | by a focus on accuracy and efficiency? And how do these shape the dialogue between the maker and the machine?
                    | Our print-shop offers a unique experience, exploring the machine intentionality of 3D printers.
                p
                    | We invite experienced makers to engage with our 3D-printers: breezy printer, postal printer, dwindle printer and
                    | skimpy printer. Select the printer you want to work with and submit your 3D-model. The printer of choice either
                    | redirects, reshapes, reduces or redistributes. Our printshop staff will handle your files with care, package and
                    | ship your completed print to you. Upon receiving your print, you are invited to resubmit a file to print with
                    | the same intentional machine.
    section.locations-section.padding-b
        .container
            .locations.px-4.py-4
                .row
                    .col-lg-3
                        .card-deck(style='align-items: center;')
                            .card.slanted-border.mb-4(style='width:13rem;')
                                //- img.card-img-top(src='./assests/postal.png' alt='Card image cap')
                            .card.slanted-border.mb-4(style='width:13rem;')
                                //- img.card-img-top(src='./assests/postal.png' alt='Card image cap')
                    .col-lg-9.col-12
                        p.mb-4.mt-2
                            | We are a group of design researchers from the Everyday Design Studio (SIAT, SFU) and the Interactive Futures Lab
                            | (Faculty of Design, OCADU). This print service is part of a research project that investigates relations between
                            | makers and machines, particularly 3D printers. As a matter of design research, we reconfigured the parameters of
                            | Prusa printers (both on the level of g-code/m-code and through the slicer) to arrive at four distinct printers
                            | that we present here. We are excited to see how other makers will engage with them!
                            br
                            .em.mb-4
                                | We are happy to process your print at one of our two locations.
                            .mb-4
                                | Everyday Design Studio
                                br
                                | School of Interactive Arts and Technology, Simon Fraser University
                                br
                                | Suite 250-13450 102nd Ave
                                br
                                | Room 3400
                                br
                                | Surrey BC, V3T 0A3
                                br
                            div
                                | Interactive Futures Lab
                                br
                                | Faculty of Design, OCAD University
                                br
                                | 205 Richmond St West,
                                br
                                | Room # 602C
                                br
                                | Toronto ON, M5V 1V3
                                br