extends base

block content
    .error
        .container
            #main.d-flex.justify-content-center.align-items-center
            h2.mr-3.pr-3.align-top.inline-block.align-content-center Uh oh, Something went wrong!   
            .inline-block.align-middle
                h2#desc.font-weight-normal.lead= msg